.homebanner {
  width: 100%;
  margin: auto;
  border-radius: 25px;
  color: white;
  position: relative;
  text-align: center;
  @media screen and (max-width: 800px) {
    height: 223px;
  }

  &__img {
    width: 100%;
    height: inherit;
    border-radius: inherit;
    object-fit: cover;
    filter: brightness(65%);
  }

  &__title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    font-weight: 500;
    font-size: 48px;
    @media screen and (max-width: 800px) {
    font-size: 24px;
  }
  }
}
