.homebanner {
  width: 90%;
  margin: auto;
  height: 255px;
  position: relative;
  border-radius: 25px;
  color: white;
  text-align: center;

  &__img {
    width: 100%;
    border-radius: inherit;
    filter: brightness(65%);
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    font-weight: 500;
    font-size: 48px;
    
  }
}
