.tag {
  background-color: $color-1;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin: auto 5px;
  min-width: 115px;
  padding: 5px 17px;
  text-align: center;
  @media screen and (max-width: 800px) {
    font-size: smaller;
    width: 20%;
  }
}
