.home__page {
  width: 90%;
  margin: auto;

  &__section2 {
    margin: 2% auto 2% auto;
    background-color: #f7f7f7;
    border-radius: 25px;
  }
}

.home__page__section2__display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}
