.logement__page {
  width: 90%;
  margin: auto;
  color: #ff6060;
}

.ficheLogement {
  display: flex;
  justify-content: space-between;
  width: 100%;
  @media screen and (max-width: 800px) {
    flex-direction: column;
  }

  &__owner {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 800px) {
      margin-top: 15%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-self: flex-end;
      gap: 0 75px;
    }
  }

  &__owner__info {
    display: flex;
    flex-direction: row;
  }

  &__info {
    flex-direction: column;

    &__title {
      font-size: 36px;
      @media screen and (max-width: 800px) {
        font-size: 20px;
      }
    }

    &__location {
      display: block;
      font-size: 18px;
      margin-bottom: 25px;
      @media screen and (max-width: 800px) {
        font-size: 14px;
      }
    }
  }

  &__description {
    display: flex;
    gap: 0 75px;
    font-size: 18px;
    line-height: 22.5px;
    margin-top: 25px;
    width: 100%;
    @media screen and (max-width: 800px) {
      display: flex;
      flex-direction: column;
    }

    .collapse {
      width: 50%;
      @media screen and (max-width: 800px) {
        width: 100%;
      }
    }
  }
}

.ficheLogement__owner__info {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 25px;
  @media screen and (max-width: 800px) {
    align-self: flex-end;
  }
}

.ownerName {
  font-size: 18px;
  margin-right: 10px;
  text-align: right;
  width: min-content;
}

.profilpicture {
  border-radius: 50%;
  height: 70px;
  object-fit: cover;
  width: 70px;
}

.tags {
  @media screen and (max-width: 800px) {
    font-size: 13px;
  }
}

.star {
  @media screen and (max-width: 800px) {
    width: 20px;
    height: 20px;
  }
}
